.App {
  text-align: center;
}

.boards-container {
  display: flex;
  justify-content: space-around;
}

.board {
  width: 300px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  align-content: start;
}

.active-shoot {
  outline: 3px solid green;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid blue;
  box-sizing: border-box;
  line-height: 100%;
}

.btn-ready,
.btn-gen {
  background-color: aqua;
}

.grey {
  background-color: grey;
}
